# Ignore executables in the root directory

# Ignore clang-tidy
.clang-tidy

# Ignore compile_commands.json
compile_commands.json

# Ignore server bin
server

# Ignore everything in lib/
lib/

# Ignore static files
static/*

# Ignore everything in build/
build/*

# Ignore everything in .cache/
.cache/

# Ignore everything in logs/
logs/*
